<h1>Editing Artist</h1>

<%= render 'form', artist: @artist %>

<nav>
<%= link_to "<button>Show Info</button>".html_safe, @artist %>
<%= link_to "<button>Back</button>".html_safe, artists_path %>
</nav>