<h1 class="<%= format_color_scheme @song.released_at %>">Editing Song</h1>

<%= render 'form', song: @song %>

<nav>
    <%= link_to "<button class=\"#{format_color_scheme @song.released_at}\">Show Song</button>".html_safe, @song %>
    <%= link_to "<button class=\"#{format_color_scheme @song.released_at}\">Back</button>".html_safe, songs_path %>
</nav>