/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background-color: #000000;
}

$spotify_green: #6AE368;
$black: #000000;
$white: #ffffff;

h1 {
    background-color: $spotify_green;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

div.artists, div.songs, form, table.songs_table {
    margin-left: 40px;
    color: $black;
    padding-bottom: 10px;

    h2 {
        a {
            padding-right: 40px;
            text-decoration: none;
        }
    }

    a {
        color: $black;
        text-decoration: none;
        transition: all .5s;
    }

    a:hover {
        background-color: $white;
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
    background-color: $spotify_green;
    border-radius: 15px;
    outline: none;
    border: 0;
    height: 20px;
    width: 100px;

    a {
        text-decoration: none;
        transition: all .5s;
        
    }
    a:hover {
        text-decoration: none;
        background-color: $white;
    }
}

div.actions input {
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    border: 0;
    height: 30px;
    width: 120px;

    a {
        text-decoration: none;
        transition: all .5s;
        
    }
    a:hover {
        text-decoration: none;
        background-color: $white;
    }
}

nav {
    margin-left: 40px;
    padding-bottom: 40px;

    a {
        color: $black;
        text-decoration: none;
        transition: all .5s;
        background-color: $white;
    }
    a:hover {
        background-color: $white;
    }
}

$eitghtees_color_scheme: #FF48C4;
$ninetees_color_scheme: #89AEE1;
$two_thousands_color_scheme: #9A1D33;
$white: #FFFFFF;
$spotify_green: #6AE368;

.eightees {
    background-color: $eitghtees_color_scheme;
}

.ninetees {
    background-color: $ninetees_color_scheme;
}

.two_thousands {
    background-color: $two_thousands_color_scheme;
    color: $white;
}

.default {
    background-color: $spotify_green;
}